.justDiv--testSection {
  min-height: 80vh;
}

.justDiv--testSection01 {
  background-color: red;
}

.justDiv--testSection02 {
  background-color: green;
}

.justDiv--testSection03 {
  background-color: blue;
}
